* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/ cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

a {
  margin-top: 0.25rem;
  color: var(--gray);
  text-decoration: none;
  display: flex;
  gap: 0.72rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media (height: 1024px) {
  .container {
    margin: 265px auto;
  }
}

@media (height: 1366px) {
  .container {
    width: 400px;
    margin-top: 350px;
    font-size: 2rem;
  }

  .avatar {
    margin-left: 50px;
  }

  .avatar span img {
    width: 7rem;
  }

  .avatar > img {
    width: 15rem;
    height: 16.5rem;
  }

  .specialImage {
    width: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  img {
    width: 6rem;
  }

  ul {
    margin-top: 8rem;
  }
}

@media (min-width: 420px) {
  main {
    background: url(images/Desktop.svg) no-repeat center/ cover;
    background-color: #09090a;
  }

  .avatar {
    padding: 1.5rem;
  }

  .avatar span {
    top: 8px;
    left: 25px;
  }

  .content {
    margin-top: -1.5rem;
  }

  #socialLinks {
    margin-top: 1.5rem;
  }
}
